<div class="nav-categories">
  <div class="nav-category-group">
    <mat-button-toggle-group [value]="selectedMediaType" name="mediaToggle" aria-label="Media Toggle">
      <mat-button-toggle value="movie" routerLink="/movie">Movies</mat-button-toggle>
      <mat-button-toggle value="tv" routerLink="/tv">Series</mat-button-toggle>
    </mat-button-toggle-group>
    <div class="nav-divider"></div>
    <a *ngIf="currentUserId !== undefined " class="nav-category" (click)="goToFavoriteLists()">My Lists</a>
  </div>
  <div class="nav-category-dropdown">
    <mat-button [matMenuTriggerFor]="genreMenu" class="genre-dropdown-button">Explore by Genre</mat-button>
    <mat-menu #genreMenu="matMenu" class="genre-dropdown-menu">
      <button class="genre-dropdown-button-selected" *ngFor="let genre of genres" mat-menu-item
              [routerLink]="['/' + selectedMediaType]" [queryParams]="{genre: genre.id}" class="genre-menu-item">
        {{ genre.name }}
      </button>
    </mat-menu>
  </div>
</div>
