<div class="container">

  <div class="lists-panel">
    <h2>{{currentUserUsername}}'s Lists</h2>
    <mat-nav-list>
      <mat-list-item *ngFor="let list of favoriteLists$ | async" (click)="selectList(list)"
                     (contextmenu)="onContextMenu($event, list)" matTooltip="Click to expand">

        <button color="primary" class="custom-button-movie" *ngIf="list.type == ListType.MOVIE" mat-icon-button>
          <mat-icon>movie</mat-icon>
        </button>
        <button color="primary" class="custom-button-star" *ngIf="list.type == ListType.STAR" mat-icon-button>
          <mat-icon>star</mat-icon>
        </button>
        <button color="primary" class="custom-button-tv" *ngIf="list.type == ListType.TV_SERIES" mat-icon-button>
          <mat-icon>tv</mat-icon>
        </button>
        {{ list.name }}
      </mat-list-item>
        <div *ngIf="isCurrentDomainUser()">
          <button class="createButton" mat-raised-button color="primary" type="button" (click)="goToCreateLists()">
            <mat-icon class="custom-icon">add</mat-icon>
          </button>
        </div>
    </mat-nav-list>
  </div>

  <div *ngIf="isCurrentDomainUser()">
    <div *ngIf="contextMenuPosition" class="context-menu" [style.left.px]="contextMenuPosition.x"
         [style.top.px]="contextMenuPosition.y">
      <div (click)="deleteList(selectedContextMenuList)">
        Remove
        <mat-icon>remove</mat-icon>
      </div>
      <div (click)="goToEditList(selectedContextMenuList)">
        Edit
        <mat-icon>edit</mat-icon>
      </div>
    </div>
  </div>
  <div class="details-panel">
    <h2>{{ selectedList?.name }}</h2>
    <div *ngIf="selectedList">
      <app-item *ngFor="let item of selectedList.items" [item]="item" [type]="selectedList.type"
                (click)="selectItem(item)"></app-item>
    </div>
  </div>
</div>
