.mat-toolbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #1e1e1e;
}

.footer-content {
  max-width: 1200px;
  margin: 5px auto;
  padding: 0 20px;
}

.social-media {
  margin-bottom: 10px;
}

.social-icon {
  display: inline-block;
  margin: 0 10px;
  color: white;
  font-size: 24px;
}

.social-icon:hover {
  color: #ddd;
}

.footer-text {
  font-size: 14px;
  margin-top: 10px;
}
