<mat-accordion>
  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
       Sorted by type of list you created
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <canvasjs-chart *ngIf="dashboardData" [options]="getPieChartOptions()" ></canvasjs-chart>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
       Amount of lists created by day
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <canvasjs-chart [options]="getLineChart()" ></canvasjs-chart>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Number of items in each list
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <canvasjs-chart [options]="getBarChartOptions()" ></canvasjs-chart>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
