


.movie-details-container {
  position: relative;
  color: #fff;
  background: transparent;
  margin-bottom: 10vh;
}

.padding-container {
  margin: auto;
  background: transparent;
  max-width: 1100px;
}

.background-test {
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: brightness(30%);
}

.main-details {
  padding: 20px;
  max-width: 800px;
  display: flex;
  align-items: flex-start;
}

.main-details img {
  height: 80vh;
  margin-right: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

.text-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.text-details p {
  margin: 10px 0;
  padding: 0;
  font-size: 18px;
  text-align: justify;
}

.text-details h1 {
  font-size: 40px;
  margin-top: 0;
}

.actors-grid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
}

.actor-card {
  width: 100px;
  margin: 10px;
  text-align: center;
}

.actor-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.actor-card img:hover {
  transform: scale(1.1);
}

h2 {
  padding: 0 40px;
}

.actor-card h3 {
  margin-top: 8px;
  font-size: 14px;
}

.director {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.related-movies {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 20px;
}

.related-movie-card {
  width: 100px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
}

.related-movie-card img {
  width: 100px;
  height: 150px;
  object-fit: cover;
  transition: transform 0.3s ease;
  border-radius: 5px;
}

.related-movie-card img:hover {
  transform: scale(1.1);
}

.related-movie-card h3 {
  margin-top: 8px;
  font-size: 14px;
}

/* Styles for Review Button */
.btn-review {
  position: absolute; /* Change from fixed to absolute */
  top: 100px;
  right: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1050;
}

.fixed-top {
  position: fixed;
  top: 60px;
  right: 20px;
}

.btn-review:hover {
  background-color: #0056b3;
}


@media (max-width: 768px) {
  .main-details,
  .actors-grid,
  .related-movies,
  .text-details h1,
  .text-details p {
    /* Adjust your styles for mobile view */
  }

  .btn-review {
    padding: 10px 20px;
    font-size: 16px;
  }

  .actor-card,
  .related-movie-card {
    width: 80px;
    margin: 5px;
  }

  .actor-card img,
  .related-movie-card img {
    width: 80px;
    height: 80px;
  }

  .padding-container,
  .movie-details-container {
    padding: 0 20px;
  }

  .btn-review {
    position: absolute; /* Ensure position is consistent */
    top: 10px; /* Adjust this value as needed */
    right: 10px; /* Adjust for smaller screens */
    padding: 10px 20px;
    font-size: 16px;
  }
}
