  <div class="center-content">
    <mat-card class="user-profile-card">
      <mat-card-header>
        <div mat-card-avatar class="user-avatar">
          <mat-icon>account_circle</mat-icon>
        </div>
        <mat-card-title>{{ userProfile?.username }}</mat-card-title>
        <mat-card-subtitle>
          {{ userProfile?.role === UserRole.MODERATOR ? 'Moderator' : 'Standard User' }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p><strong>Email:</strong> {{ userProfile?.email }}</p>
        <!-- Add more profile details as needed -->
        <button *ngIf="isCurrentUser" mat-raised-button color="warn" (click)="openDeleteAccountDialog()">
          Delete Account
        </button>
        <br>
        <button mat-raised-button color="primary" (click)="goToUserList()">
          Lists of favorite items
        </button>
        <br>
        <button mat-raised-button color="accent" (click)="goToReviews()">
          Lists of reviews
        </button>
      </mat-card-content>
    </mat-card>
  </div>
